extends layout

block variables
    - var msgAlert = m_alert
    - var msgSuccess = m_success
    - var msgInfo = m_info
    - var msgWarning = m_warning

block content
  h1 #{name} V #{version}

  p Page to show the configuration of each market. Allows test the communication with the trading bot

  h2 Checking markets JOB scheduled at #{config.schedule}

  div
    if config.markets
      each market, i in config.markets
        h3 Market #{market.id}
        p Extracts data from 
          a(href=market.api) #{market.api}
        p 
          a(href=baseUrl + '/analysis?market=' + market.id) Show graphic from last market data
        if market.indicator
          p Indicators:
          ul
          each ind, i in market.indicator
            li #{ind.name} - #{ind.period}
        p Strategy #{market.strategy}
          .container
            fieldset
              form(action='analysis', method='get')
                | 🧪 Analyze OHLC prices &nbsp;
                input.ghost-input(name='market', type='hidden', value=market.id)
                input.ghost-input(name='numberOfValues', type='hidden', value=999999)
                select(name= 'testData')
                  each prices, i in testPrices
                    option(value=prices) #{prices}
                input.ghost-button(name='btn', type='submit', value='Test')
                p.small * Aquests fitxers han de tenir el següent format: [ [&#60;time en ms&#62;, &#60;open&#62;, &#60;high&#62;, &#60;low&#62;, &#60;close&#62;], ... ] 
                p.small * Per crear aquests fitxers anar a /prices i descarregar dades de kraken a fitxer
          .container
            fieldset
              form(action='analysis', method='get')
                | 🧪 Analyze csv OHLCVT historical prices downloaded from kraken &nbsp;
                input.ghost-input(name='market', type='hidden', value=market.id)
                input.ghost-input(name='numberOfValues', type='hidden', value=999999)
                select(name= 'testData')
                  each prices, i in testPricesOHLCVT
                    option(value=prices) #{prices}
                input.ghost-button(name='btn', type='submit', value='TestOHLCVT')
                p.small * Aquests fitxers han de tenir el següent format: [ [&#60;time en ms&#62;, &#60;open&#62;, &#60;high&#62;, &#60;low&#62;, &#60;close&#62;], ... ] 
                p.small * Per crear aquests fitxers anar a https://drive.google.com/drive/folders/1sqt3kvw_Y5yOfF6HLG_xfAXae0LsVZWH i descarregar fitxers
        if market.tradingBots
          each tbot, i in market.tradingBots
            p Trading bots linked with this market:
            .container
              fieldset
                form(action=tbot.url, method='post')
                  | 📉 Buy signal to #{tbot.url} - pair #{tbot.pair} &nbsp;
                  input.ghost-input(name='action', type='hidden', value='buy')
                  input.ghost-input(name='pair', type='hidden', value=tbot.pair)
                  input.ghost-input(name='token', type='hidden', value=tbot.token)
                  input.ghost-input(name='test', type='hidden', value='mock-kraken')
                  input.ghost-input(name='testBalance', type='hidden', value='{"error" : [],"result" : {"ZEUR" : [155.5649]}}')
                  input.ghost-input(name='testCryptoValue', type='hidden', value='{"error": [],"result": {"XXBTZEUR": {a: [ "45193.40000", "1", "1.000" ]}}}')
                  input.ghost-button(name='btn', type='submit', value='Test Buy')
            .container
              fieldset
                form(action=tbot.url, method='post')
                  | 📈 Sell signal to #{tbot.url} - pair #{tbot.pair} &nbsp;
                  input.ghost-input(name='action', type='hidden', value='sell')
                  input.ghost-input(name='pair', type='hidden', value=tbot.pair)
                  input.ghost-input(name='token', type='hidden', value=tbot.token)
                  input.ghost-input(name='test', type='hidden', value='mock-kraken')
                  input.ghost-input(name='testBalance', type='hidden', value='{"error" : [],"result" : {"ZEUR" : [155.5649]}}')
                  input.ghost-input(name='testCryptoValue', type='hidden', value='{"error": [],"result": {"XXBTZEUR": {a: [ "45193.40000", "1", "1.000" ]}}}')
                  input.ghost-button(name='btn', type='submit', value='Test Sell')